* {
    box-sizing: border-box;
}
html {
    min-height: 100vh;
}

body {
    margin: 0;
    background:radial-gradient(#2d7e2d, #085a08);
}

html, body{
    width: 100%;
    min-height: 100%;
}

.title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
}

.description {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 15px;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
}

.game-info {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
}

.card {
    position: relative;
    height: 150px;
    width: 106px;
    overflow: hidden;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 400ms ease-in-out;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
}

.card-front {
    transform: rotateX(180deg);
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color:black;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 0 0 #085a08, -2px 0 0 #085a08, 0 2px 0 #085a08, 0 -2px 0 #085a08, 1px 1px #085a08, -1px -1px 0 #085a08, 1px -1px 0 #085a08, -1px 1px 0 #085a08;
}

  .overlay-text#game-over-text {
    text-shadow: 2px 0 0 #f63004, -2px 0 0 #f63004, 0 2px 0 #f63004, 0 -2px 0 #f63004, 1px 1px #f63004, -1px -1px 0 #f63004, 1px -1px 0 #f63004, -1px 1px 0 #f63004;
}
  
  .overlay-text-small {
    font-size: .3em;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
  }
  
  .overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
  }
  
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 5em;
    }
  }

  @-webkit-keyframes pulsate {
    0% { 
        opacity: 0.2;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.2;
    }
}

@keyframes pulsate {
    0% { 
        opacity: 0.2;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.2;
    }
}

@media only screen and (max-width: 400px) {
    .title {
        font-size: 18px;
    }
    
    .description {
        font-size: 10px;
    }
    .game-info {
        font-size: 15px;
    }
    .card {
        margin-top: 10px;
        height: 112px;
        width: 80px;
    }
    @keyframes overlay-grow {
        from {
          background-color: rgba(0, 0, 0, 0);
          font-size: 0;
        }
        to {
          background-color: rgba(0, 0, 0, .8);
          font-size: 25px;
        }
    }
}

@media only screen and (min-width: 405px) and (max-width: 500px) {
    .title {
        font-size: 18px;
    }
    
    .description {
        font-size: 10px;
        margin-bottom: 15px;
    }
    .game-info {
        font-size: 15px;
    }
    .card {
        margin-top: 12px;
        height: 128px;
        width: 90px;
    }
    @keyframes overlay-grow {
        from {
          background-color: rgba(0, 0, 0, 0);
          font-size: 0;
        }
        to {
          background-color: rgba(0, 0, 0, .8);
          font-size: 25px;
        }
    }
}


@media only screen and (min-height: 800px) and (max-height: 820px) {
    .title {
        margin-top: 70px;
        font-size: 18px;
    }
    
    .description {
        font-size: 10px;
        margin-top: 25px;
        margin-bottom: 35px;
    }
    .game-info {
        font-size: 15px;
    }
    .card {
        margin-top: 12px;
        
    }
    .game-container {
        margin-top: 35px;
        left: auto;
        right: auto;
    }
    @keyframes overlay-grow {
        from {
          background-color: rgba(0, 0, 0, 0);
          font-size: 0;
        }
        to {
          background-color: rgba(0, 0, 0, .8);
          font-size: 25px;
        }
      }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
    .title {
        margin-top:20px;
        font-size: 18px;
    }
    
    .description {
        margin-top:10px;
        font-size: 10px;
        margin-bottom: 0px;
    }
    .game-info {
        font-size: 15px;
    }
    .card {
        margin-top: 0px;
    }
    .game-container {
        margin-top: 15px;
        left: auto;
        right: auto;
    }
    @keyframes overlay-grow {
        from {
          background-color: rgba(0, 0, 0, 0);
          font-size: 0;
        }
        to {
          background-color: rgba(0, 0, 0, .8);
          font-size: 50px;
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 740px) {
    .title {
        margin-top: 50px;
        font-size: 18px;
    }
    
    .description {
        font-size: 10px;
        margin-bottom: 15px;
    }
    .game-info {
        font-size: 15px;
    }
    .card {
        margin-top: 12px;
        height: 92px;
        width: 65px;
    }
    .game-container {
        grid-template-columns: repeat(8, auto);
    }
    @keyframes overlay-grow {
        from {
          background-color: rgba(0, 0, 0, 0);
          font-size: 0;
        }
        to {
          background-color: rgba(0, 0, 0, .8);
          font-size: 25px;
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 812px) {
    .title {
        margin-top: 30px;
        font-size: 18px;
    }
    
    .description {
        font-size: 10px;
        margin-bottom: 15px;
    }
    .game-info {
        font-size: 15px;
    }
    .card {
        margin-top: 12px;
        height: 92px;
        width: 65px;
    }
    .game-container {
        grid-template-columns: repeat(8, auto);
    }
    @keyframes overlay-grow {
        from {
          background-color: rgba(0, 0, 0, 0);
          font-size: 0;
        }
        to {
          background-color: rgba(0, 0, 0, .8);
          font-size: 25px;
        }
    }
}